* {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

    .favorites {
        box-shadow: 0px 0px 7px #26b28d;
        border-radius: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px;
    }

    >h2 {
        margin-left: 50px;
        margin-top: 30px;
        color: #003225;
    }

    >footer {
        margin-top: auto;
        height: 90px;
        background-color: #013225;

        >p {
            color: #fff;
            padding: 30px;
        }
    }
}
