.card {
    margin: 20px;
    display: block;
    width: 150px;
    height: 25%;
    padding: 10px;
    border: 3px solid #14526c;
    border-radius: 6px;
    background-color: #e9eef0;

    >img {
        border: 0px solid #14526c;
        border-radius: 6px;
        width: 150px;
        height: 150px;
        padding: 0;
    }

    >h3 {
        width: 150px;
        overflow-x: scroll;
        >span {
            font-weight: 400;
        }
    }

    >p {
        width: 150px;
        font-weight: 800;
        >span {
            font-weight: 400;
        }
    }

    >button {
        background-color: #14526c;
        border: none;
        outline: none;
        color: #fff;
        padding: 4px 6px;
        border-radius: 5px;
        margin-top: 5px;
        cursor: pointer;
        transition: background-color 0.4s ease-in-out;

        &:hover {
            background-color: #1f6dc5;
        }
    }
}